@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Donis', sans-serif;
    color: #222;
}

.act-btnn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: green !important;
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-light {
    background: #23c268 !important;
}

.dropdown-menu,
.navbarDropdown {
    background: #23c268 !important;
    border: none;
}

.navbar {
    padding: .1rem;
    position: fixed;
}

.nav-link .active {
    color: green !important;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1rem;
    font-weight: bold;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #23c268;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-user-tie,
.fa-money-check,
.fa-shield-alt {
    color: #23c268;
    width: 100px;
    height: 100px;
}

.fa-user-tie,
.fa-shield-alt,
.fa-money-check {
    font-size: 4em;
    margin: 1rem;
}

hr.light {
    border-top: 1px solid #23c268;
    width: 75%;

}

.fa-facebook,
.fa-instagram,
.fa-youtube {
    font-size: 2.9em;
    margin: 0.5rem;
    color: #23c268;
}

.container {
    text-align: center;
    color: white;
}

.container p {
    color: black;
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}

.container h1 {
    color: black;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
}

.email-box i {
    background: #2f3542;
    width: 40px;
    line-height: 40px;
}

.tbox,
.btn {
    border: none;
    outline: none;
}

.email-box:hover > .tbox,
.tbox:focus {
    width: 240px;
    padding: 0 10px;
}

.tbox {
    width: 0px;
    transition: 0.3s;
    background-color: whitesmoke;
}

.btn {
    background: #23c268;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.light {
    background: #23c268;
}

.fa-whatsapp {
    font-size: 1.2em;
    color: #23c268;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: rgba(0, 0, 0, 0);
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/